<section class="home__container">
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1502301197179-65228ab57f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);">
  <div class="container">
    <h1>Room for a nite  helps you find <strong>hotel rooms</strong> to <strong>whenever ,whereever</strong>!</h1>
    <p>Need a room ? </p>
    <a class="btn btn-flat" href="#">Book now</a>
  </div>
</div>


    <section class="section hero__banner">



      <div class="banner__text" >
            <div>
                <p>Find Affordable Hotel rooms <br>Anytime</p>

                <%# <div class="arrow__container">
                    <i class="fas fa-long-arrow-alt-down down"></i>
                </div> %>
            </div>
        </div>

        <div class="hero__banner--image"style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1495365200479-c4ed1d35e1aa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
        </div>
    </section>

    <section class="section section__about">
        <div class="banner__text">
             <div>
                <p>Be spontaneous <br>Be free,Be Light
                </p>

            </div>
        </div>
        <div class="composition">
            <img src="https://images.unsplash.com/photo-1582719508461-905c673771fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" class="composition__photo composition__photo--p1">
            <img src="https://images.unsplash.com/photo-1495754149474-e54c07932677?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" class="composition__photo composition__photo--p2">
            <img src="https://images.unsplash.com/photo-1503003378590-66f89f543bc6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" class="composition__photo composition__photo--p3">
        </div>
    </section>

    <section class="section section__discover">
            <div>
                <p class="section__discover--heading">Sign up and find a room now </p>
            </div>
            <div class="discover__cards--container">
                <div class="discover__cards">
                    <div class="discover__info">
                        <i class="fas fa-globe discover__icons"></i>
                        <h3>Explore</h3>
                    </div>
                    <p>Discover the map for <br>activities near you</p>
                </div>
                <div class="discover__cards">
                    <div class="discover__info">
                        <i class="fas fa-globe discover__icons"></i>
                        <h3>Connect</h3>
                    </div>
                    <p>Discover the map for <br>activities near you</p>
                </div>
                <div class="discover__cards">
                    <div class="discover__info">
                        <i class="fas fa-globe discover__icons"></i>
                        <h3>Inspire</h3>
                    </div>
                    <p>Discover the map for <br>activities near you</p>
                </div>
            </div>
    </section>

    <!-- <section class="section section__signup">
         <div class="banner__text signup__text">
             <div>
                <h2>JOIN THE COMMUNITY</h2>
                <p>Sign up and start discovering now</p>

            </div>
            <div class="sign__image">
                <img src="https://images.unsplash.com/photo-1507608443039-bfde4fbcd142?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80">
            </div>
        </div>
    </section> -->

    <section class="section section__footer">
        <div class="footer__text">
            <p>&copy; 2020  room for a nite ,All rights reserved.</p>
        </div>
    </section>


</div>
